div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
   /* transition-property:all ;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 2s;
   transform: rotate(45deg);*/
    position:absolute;
    top:100px;
    left:100px;
    animation-name: colorAnimate;
    animation-duration: 0.25s;
    /*animation-timing-function: ease-in;*/
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
div:hover{
    background-color: red;
   /* translate: -200px;*/
   @keyframes colorAnmimate {
    from{background-color:aquamarine;}
    to{background-color:red;}
    
   }

}
/*
div:active{

    background-color: black;
}*/