div{
    height: 100px;
    background-color: pink;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: yellow;
    padding-left: 25px; 
    border-radius: 50%;



} 


